ul
{
    list-style-type: none;
     padding:3px;
}
     
li
{
 float:left;
 width: 170px;
 height: 250;
 padding-right:6px;
 margin-right:12px;
 border-right:1px solid rgb(204, 200, 200);

}
p 
{
  font-size: 10px;
  margin-top:2px;
  margin-bottom:1px;
  font-weight: bold;
  color:darkgray;
}
img{
    height:160px;
    width:170px;
    left:0px;
}
.a
{
   font-size:15px;
   font-weight:bold;
   font-family:'Times New Roman', Times, serif;
   margin-bottom:5px;
   margin-top:4px;
   color:black;
    
}

.bordernone
{
 border:none;
}
h1{
    font-size: 25;
}
